.featured{

    padding:70px 0;

}

.section-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:35px;

}

.section-header h2{

    font-size:34px;
    font-weight:700;

}

.section-header a{

    color:#111;
    text-decoration:none;
    font-weight:600;

}

.products-grid{

    display: grid;

    grid-template-columns: repeat(4, minmax(220px, 1fr));

    gap: 18px;

}


.product-card{

    position: relative;

    background: #fff;

    border: 1px solid #ececec;

    border-radius: 24px;

    padding: 18px;

    height: 410px;

    display: flex;
    flex-direction: column;

    transition: .3s;

}

.product-card:hover{

    transform:translateY(-6px);

    box-shadow:0 18px 45px rgba(0,0,0,.08);

    transform:scale(1.05);


    
}

.product-card img{

    width: 100%;

    height: 220px;

    object-fit: contain;

    margin-top: 10px;

    transition:.35s;

}

.product-name{

    font-size: 19px;

    font-weight: 700;

    margin-top: 20px;

}

.product-memory{

    color:#777;

    margin:6px 0 20px;

}

.product-footer{

    margin-top: auto;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 12px;

}

.product-price{

    font-size: 22px;

    font-weight: 700;

    margin-top: 0;
}

.product-battery{

    display:flex;

    align-items:center;

    gap:8px;

    color:#2b8f4d;

    font-size:13px;

    white-space: nowrap;

}

.dot{

    width:8px;

    height:8px;

    border-radius:50%;

    background:#2ecc71;

}

.product-badge{

    position:absolute;

    top:18px;
    left:18px;

    padding:6px 12px;

    border-radius:999px;

    background:#111;

    color:white;

    font-size:12px;

    font-weight:600;

}

.favorite-btn{

    position:absolute;

    top:16px;
    right:16px;

    width:38px;
    height:38px;

    border:none;

    border-radius:50%;

    background:#f5f5f5;

    cursor:pointer;

    transition:.25s;

}

.favorite-btn:hover{

    background:#111;
    color:white;

}

.section-header{

    display:flex;
    justify-content:space-between;
    align-items:end;

    margin-bottom:35px;

}

.section-subtitle{

    display:block;

    color:#888;

    font-size:14px;

    margin-bottom:8px;

}

.section-header h2{

    font-size:36px;

    font-weight:700;

}

.slider-next{

    position:absolute;

    right:-22px;

    top:42%;

    transform:translateY(-50%);

    width:58px;
    height:58px;

    border:none;

    border-radius:50%;

    background:white;

    box-shadow:0 15px 40px rgba(0,0,0,.12);

    cursor:pointer;

    transition:.3s;

    z-index:20;

}

.slider-next:hover{

    background:#111;
    color:white;

    transform:translateY(-50%) scale(1.08);

}

.products-wrapper{

    position:relative;

}

.slider-next i{

    font-size:18px;

}