*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Inter",sans-serif;

    background:var(--background);

    color:var(--black);

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    color: white;
}

ul{

    list-style:none;

}

.container{

    width:min(92%,1400px);

    margin:auto;

}