:root{

    --background:#f7f7f5;

    --white:#ffffff;

    --black:#111111;

    --gray:#707070;

    --border:#e8e8e8;

    --blue:#4d7cff;

    --radius:24px;

    --transition:.35s;

    --container:1400px;

}